.contact-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  
  border-top: 0;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #dee1ec;
}

.selected {
  background-color: #f9faff;
}

.contact-row .column {
  padding: 10px 5px;
}

.contact-row .column.checkbox {
  padding-left: 12px;
  padding-right: 12px;
}

.contact-row .name {
  font-weight: 440;
  color: #2950e0;
}

.column.deals-count {
  text-align: center;
}