.table {
  border-radius: 50px;
  flex-basis: 100%;
  max-width: 1000px;
  min-width: 750px;
}

.header {
  border: 1px solid #dee1ec;
  color: #4d526b;
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  font-weight: bolder;
}

.column.text {
  text-align: left;
}

.column {
  box-sizing: border-box;
  padding: 5px;
}

.checkbox {
  padding-left: 12px;
  padding-right: 12px;
}

.name {
  flex-basis: 22%;
}

.deals-value {
  flex-basis: 15%;
}

.location {
  flex-basis: 17%;
}

.deals-count {
  flex-basis: 10%;
}

.column.text.deals-count {
  text-align: center;
}

/* .tags {
  flex-basis: 
} */